

<div class="conrainer">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h1>User info</h1>

			<% if @user.errors.any? %>
				 <div class="alert alert-warning">
				   <ul>
				     <% @user.errors.full_messages.each do |message| %>
				       <li><%= message %> error </li>
				     <% end %>
				   </ul>
				 </div>
			<% end %>

			<%= form_for(@user) do |f| %>
			    <h4>Name</h4>
			    <%= f.text_field :name %>

			    <h4>Image</h4>
			    <div class="form-group has-icon">
				    <div class="user-edit-image">
				        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				    </div>
				    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
				    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
				</div>

				<br>
				<br>
				<br>


			    <h4>Introduction</h4>
			    <%= f.text_area :introduction %>
			    <br><br>
			    <%= f.submit 'Update User' %>
			<% end %>
		</div>
	</div>
</div>


