<%=   flash[:success]  %>

<div class="container">
	<div class="row">
		<!-- 左側 -->
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
			<br>
			<br>
			<br>
			<br>
			<table class="table">
				<thead>
					<tr>
						<!-- 本来は入力した名前が自動で入るようにする→name.test -->
						<th>name</th>
						<th>
							<%= @book.user.name %>
						</th>
					</tr>
					<tr>
						<th>Introduction</th>
						<th>
							<%= @book.user.introduction %>
						</th>
					</tr>
				</thead>
			</table>
			<div>
				<li class="col-xs-12 btn btn-default ">
					<% if @book.user == current_user %>
                    	<%= link_to '', edit_user_path(current_user.id), class: "glyphicon glyphicon-wrench" %>
                    <% else %>
                    	<%= link_to '', user_path(current_user.id), class: "glyphicon glyphicon-wrench" %>
                    <% end %>
                </li>
			</div>
			<br>
			<br>

			<h2>New book</h2>
				<% if @book_new.errors.any? %>
				  <div class="alert alert-warning">
				    <ul>
				      <% @book_new.errors.full_messages.each do |message| %>
				        <li><%= message %>  error </li>
				      <% end %>
				    </ul>
				  </div>
				<% end %>

				<%= form_for(@book_new, url: '/books') do |f| %>
				    <div>Title</div>
				    <%= f.text_field :title, :size=>"36" %>
				    <div>Opinion</div>
				    <%= f.text_area :body, :size=>"34" %>
				    <br>
				    <%= f.submit 'Create Book',class: "btn btn-primary btn-lg btn-block" %>

				<% end %>
		</div>
		<!-- 右側 -->
		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">

				<tbody>
							<tr>
								<td>
									<%= link_to user_path(@book.user) do %>
									  <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %>
									  <br><br><br>
									  <%= @book.user.name %>
									<% end %>
								</td>
								<td><%= @book.title %></td>
								<td><%= @book.body %></td>
							     <% if @book.user == current_user %>
									 <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success btn-sm" %></td>
									 <td colspan="3"></td>
									 <td><%= link_to "Destroy", book_path(@book), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
							</tr>
						<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


